li{
    display: flex;
    justify-content: space-around;
}
ul{
    margin-right: 5.5rem!important;
}

.form{
    display: flex;
    width: 80%;
    height: 50px;
    font-size: large;
    justify-content: center;
    font-style: oblique;

}
.save{
    height: 30px;
}
#datepicker{
    width: 200px;
    height: 40px;
}
select{
    width: 200px;
    height: 50px;
}
.DOWNLOAD{
    display: grid;
    place-content: center;
}
